html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-bottom: 40px;
    background-color: #eee;
    padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.jqp-title {
    	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.my-jqplot-title1 {
	top: 23%;
	left: 12%;
}

.my-jqplot-title2 {
	top: 23%;
	float: right;
	right: 12%;
}

.my-jqplot-title3 {
	top: 73%;
	left: 12%;
}

.my-jqplot-title4 {
	top: 73%;
	float: right;
	right: 12%;
}
	
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login_to_register_link {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.without_sidebar {
    width: 770px;
}

.companies_list .wrapper {
    border-bottom: 1px solid grey;
    background: #F9F9F9;
    margin: 5px 0;
}

#company_form {
    width: 500px;
    margin: 0 auto;
}

#company_form textarea {
    max-width: 100%;
}

#company_form button {
    float: right;
    margin: 5px 5px 0 0;
}

.white_body {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
}

#company_settings_wrapper {
    margin-bottom: 20px;
}

#swot_table td:not(:first-child) {
    width: 230px;
}

#swot_table th {
    text-align: center;
}

.analyze_header {
    width: 75%;
}

.analyze_header button {
    float: right;
    margin-top: 10px;
}

.analyze_type {
    font-size: 36px;
    float: left;
}

.info_block {
    font-size: 16px;
}

#alerts {
    position: fixed;
    top: 55px;
    right: 20px;
    width: 300px;
    z-index: 9999;
    list-style: none;
    padding: 0
}

#alerts li {
    width: 100%;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    min-height: 80px;
}

#base_alert {
    display: none;
}

.red {
    background-color: #C47C7C;
}
