{% extends "base.html" %}
{% block extra_head %}
    <script src="{{ STATIC_URL }}js/space_draw.js"></script>
    <script src="{{ STATIC_URL }}js/dist/jquery.jqplot.js"></script>
{% endblock %}
{% block main_body %}
    <div class="container">
        {% csrf_token %}
        <input type="hidden" name="company_id" id="company_id" value="{{ company_id }}" id="company_id"/>
        <input type="hidden" value="{% url "analyze_save" %}" id="action"/>
        <input type="hidden" name="id" value="{% if analyze %}{{ analyze.id }}{% endif %}" id="id"/>
        <input type="hidden" name="json_data" value="{% if analyze %}{{ json_data }}{% endif %}"  id="json_data"/>
        <h5><a href="{{ analyze.company.get_absolute_url }}">&larr; На страницу компании</a></h5>
        <div class="analyze_header">
            <div class="analyze_type">SPACE анализ</div>
            <button class="btn btn-warning" id="send_btn">Сохранить оценки и рассчитать результаты</button>
            <div class="clearfix"></div>
        </div>
        <div class="row row-offcanvas row-offcanvas-right" id="space_tbl">
            <div class="col-xs-12 col-sm-9 white_body step" id="step1">
                {% for part in table_1_rows %}
                    <h1>{{ part.group_name }}
                        <div class="alert alert-info" style="font-size: 16px; float: right; margin: -4px 0 0 0; display: inline-block;">
                            Общая оценка: <span class="group_mark" data-group-id="{{ part.group_id  }}"></span>
                        </div>
                    </h1>
                    <table class="table table-condensed table-hover table-bordered data_table" id="{{ part.group_id }}">
                        <thead>
                        <th style="text-align: center;">Фактор</th>
                            <th style="text-align: center;">Вес - <p data-group-id="{{ part.group_id }}"
                                                                     data-type="calc_weight">1.00</p></th>
                        <th style="text-align: center;">Оценка</th>
                        <th style="text-align: center;">Итоговая оценка</th>
                        </thead>
                        <tbody>
                        {% for factor in part.factors %}
                            <tr data-factor-id="{{ factor.factor_id }}" class="data-row">
                                <td>{{ factor.factor_name }}</td>
                                <td>
                                    <input type="text" value="{{ factor.default_weight }}" data-type="weight"
                                    data-factor-id="{{ factor.factor_id }}" data-group-id="{{ part.group_id }}"
                                    style="width: 100%; border: 0"/>
                                </td>
                                <td>
                                    <select data-type="mark" data-factor-id="{{ factor.factor_id }}"
                                            data-group-id="{{ part.group_id }}" style="width: 100%; border: 0">
                                        {% for mark in part.marks %}
                                            <option value="{{ mark }}">{{ mark }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <p class="form-control-static" data-type="calc_mark"
                                       data-factor-id="{{ factor.factor_id }}" data-group-id="{{ part.group_id }}"
                                       style="width: 100%; border: 0"></p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-9 white_body hidden step" id="step2">
                <div class="info">
                    <h4>Описание и результаты анализа</h4>
                    <h3>Описание</h3>
                    <p class="text-muted info_block">
                        Исходя из введенных оценок и весов для каждого фактора, были вычисленны
                        средние значения для каждой группы факторов. После вычисления средних значений,
                        вычисляются координаты вектора стратегии.
                    </p>
                    <p class="text-muted info_block">
                        Средние значения групп факторов откладываются на осях координат. 4 полученных точки
                        последовательно соединяются прямыми, образуя 4х угольник. Он представляет собой текущее состояние
                        компании.
                    </p>
                    <p class="text-muted info_block">
                        Кроме того на графике отображается вектор стратегии, который показывает предпочтительное направление
                        развития.

                        Информация о соответствиях групп факторв и откладываемых значениях приведена ниже:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item-info list-group-item">
                            <b>КОНКУРЕНТНОЕ ПРЕИМУЩЕСТВО:</b> Отрицательное значение по OX <b>(-1, -6)</b></li>
                        <li class="list-group-item-info list-group-item">
                            <b>ПРИВЛЕКАТЕЛЬНОСТЬ ОТРАСЛИ:</b> Положительное значение по OX <b>(1, 6)</b></li>
                        <li class="list-group-item-info list-group-item">
                            <b>СТАБИЛЬНОСТЬ ВНЕШНЕЙ СРЕДЫ:</b> Отрицательное значение по OY <b>(-1, -6)</b></li>
                        <li class="list-group-item-info list-group-item">
                            <b>ФИНАНСОВОЕ ПОЛОЖЕНИЕ:</b> Положительное значение по OY <b>(1, 6)</b></li>
                    </ul>
                </div>
                <h3>Результаты</h3>
                <p class="info_block">
                    Текущее положение компании и вектор отображены на графике:
                </p>
                <div id="drawing" style="width: 700px; height: 700px; margin: 0 auto;"></div>
                <div>
                    <h3>Расшифровка</h3>
                    <p>
                        Ниже приведена расшифровка стратегий компаннии. Рекомендуемая стратегия находится в той же координатной четверти, в которой расположен вектор.
                        <br>
                        Расшифровка стратегий:
                        <h4>Агрессивное</h4>
                        <p>
                            Это состояние типично в привлекательной отрасли промышленности с незначительной неопределенностью обстановки. Компания получает конкурентные преимущества, которые она может сохранить и приумножить с помощью финансового потенциала. Угрозы незначительны, необходимо сконцентрироваться на обеспечении интересов. Механизмы направлены на:
                            <ul>
                                <li>Расширение производства и продаж;</li>
                                <li>Ценовую войну с конкурентами;</li>
                                <li>Освоение новых секторов рынка;</li>
                                <li>Продвижение брендов.</li>
                            </ul>
                        </p>
                        <h4>Конкурентное</h4>
                        <p>
                            Это состояние характерно для привлекательной отрасли. Организация получает конкурентные преимущества в относительно нестабильной обстановке. Критическим фактором является финансовый потенциал. Необходимо парировать угрозы, связанные с потерей финансирования. Основные механизмы:
                            <ul>
                                <li>Поиск финансовых ресурсов;</li>
                                <li>Развитие сбытовых сетей.</li>
                            </ul>
                        </p>
                        <h4>Консервативное</h4>
                        <p>
                            Это состояние обычно наблюдается на стабильных рынках с низкими темпами роста. В этом случае усилия концентрируются на финансовой стабилизации. Важнейшим фактором является конкурентоспособность продукта. Основные механизмы:
                            <ul>
                                <li>Снижение себестоимости при повышении качества товара;</li>
                                <li>Сокращение производства и выход на более перспективные рынки.</li>
                            </ul>
                        </p>
                        <h4>Оборонительное</h4>
                        <p>
                            Такое состояние возникает в ситуации, когда организация работает в привлекательной отрасли, но ей недостает конкурентоспособности продукции и финансовых средств. Ключевой стратегией является:
                            <ul>
                                <li>Особое внимание механизмам парирования угроз;</li>
                                <li>Уход с рынка.</li>
                            </ul>
                        </p>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <a href="#" data-step-id="step1" class="list-group-item active">Шаг 1. Оценка факторов</a>
                    <a href="#" data-step-id="step2" class="list-group-item">Шаг 2. Результат</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}