{% extends "base.html" %}
{% block main_body %}
    <div class="container">
         {% csrf_token %}
        <input type="hidden" name="company_id" id="company_id" value="{{ company_id }}" id="company_id"/>
        <input type="hidden" value="{% url "analyze_save" %}" id="action"/>
        <input type="hidden" name="id" value="{% if analyze %}{{ analyze.id }}{% endif %}" id="id"/>
        <input type="hidden" name="json_data" value="{% if analyze %}{{ json_data }}{% endif %}"  id="json_data"/>
        <input type="hidden" value="{{ step }}" id="step"/>
        <input type="hidden" value="{{ analyze_url }}" id="analyze_url"/>
        <h5><a href="{{ analyze.company.get_absolute_url }}">&larr; На страницу компании</a></h5>
        <div class="analyze_header">
            <div class="analyze_type">SWOT анализ</div>
            <button class="btn btn-warning" id="send_btn">Сохранить текущий прогресс и продолжить анализ</button>
            <div class="clearfix"></div>
        </div>
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9 white_body">
                <div class="hidden" id="swot_table_1">
                    {% for part in table_1_columns %}
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <th></th>
                                {% for group in part %}
                                    <th style="text-align: center;">{{ group.group_name }}</th>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for type in table_1_rows %}
                                    <tr {% if forloop.first %}class="info"{% endif %}>
                                        <td>
                                            {{ type.name }}
                                            {% if not forloop.first %}({{ type.id }}){% endif %}
                                        </td>
                                        {% for group in part %}
                                            <td  data-type-id="{{ type.id }}" data-group-id="{{ group.group_id }}" >
                                                {% if type.id == 'weight' %}
                                                    <input type="text" data-type-id="{{ type.id }}" data-group-id="{{ group.group_id }}" value="1" style="width: 100%; border: 0"/>
                                                {% else %}
                                                    <table data-type-id="{{ type.id }}" data-type-elem="factor_table" data-group-id="{{ group.group_id }}">
                                                    </table>
                                                    <button class="btn btn-default" data-type-id="{{ type.id }}" data-type-elem="add_factor" data-group-id="{{ group.group_id }}">Добавить фактор</button>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
                <div class="hidden" id="swot_table_2">
                    {% for table in tables_2 %}
                         <h2>{{ table.name }}</h2>
                         <table class="table table-condensed table-hover table-bordered" id="s_table">
                            <thead>
                                {% for column in table_2_columns %}
                                    <th>{{ column.name }}</th>
                                {% endfor %}
                            </thead>
                            <tbody data-group-id="{{ table.id }}">
                            </tbody>
                         </table>
                    {% endfor %}
                </div>
                <div class="hidden" id="swot_table_3">
                    {% for table in table_3 %}
                         <h2>{{ table.name }}</h2>
                         <table class="table table-condensed table-hover table-bordered" id="s_table">
                            <thead>
                                <th>{{ table.first_name }}</th>
                                <th>{{ table.second_name }}</th>
                                <th>Оценка связанности</th>
                            </thead>
                            <tbody data-first="{{ table.first }}" data-second="{{ table.second }}">
                            </tbody>
                         </table>
                    {% endfor %}
                </div>
                <div class="hidden" id="swot_table_4">
                    {% for table in table_3 %}
                         <h2>{{ table.name }}</h2>
                         <table class="table table-condensed table-hover table-bordered" id="s_table">
                            <thead>
                                <th>{{ table.first_name }}</th>
                                <th>{{ table.second_name }}</th>
                                <th>Оценка связанности</th>
                            </thead>
                            <tbody data-first="{{ table.first }}" data-second="{{ table.second }}">
                            </tbody>
                         </table>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <a href="{{ analyze_url_steps.1 }}" class="list-group-item disabled" data-step="1">Шаг 1. TELESCOPIC OBSERVATIONS</a>
                    <a href="{{ analyze_url_steps.2 }}" class="list-group-item disabled" data-step="2">Шаг 2. Таблицы SWOT</a>
                    <a href="{{ analyze_url_steps.3 }}" class="list-group-item disabled" data-step="3">Шаг 3. Оценка стратегий</a>
                    <a href="{{ analyze_url_steps.4 }}" class="list-group-item disabled" data-step="4">Шаг 4. Стратегии</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}