<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Комплексный анализ предприятия. SWOT & SPACE.</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
</head>
<body>
<ul id="alerts">
    <li class="alert alert-dismissible fade in" id="base_alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="text"></span>
        <div class="clearfix"></div>
    </li>
</ul>
{#<div class="alert alert-danger alert-dismissible fade in" role="alert" style="width: 100%;  z-index: 9999; vertical-align: middle; display: table-cell; position: absolute; top: 0; left: 0; text-align: center; font-weight: bold; min-height: 20px;">#}
{#    <span>1111</span>#}
{#</div>#}
<!-- navbar begin -->
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">SWOT & SPACE</div>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    {% if not request.user.is_anonymous %}
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url "companies_list" %}">Список компаний</a></li>
{#            <li><a href="{% url "user_settings" %}">Настройки аккаунта</a></li>#}
      </ul>
          <ul class="navbar-form navbar-right">
            <div class="navbar-text" style="margin: 5px 20px 0 0;">Авторизирован {{ request.user }}</div>
            <a href="{% url "logout" %}" class="btn btn-primary">Выйти</a>
          </ul>
      {% endif %}
    </div>
  </div>
</nav>
<!-- navbar end -->
{% block main_body %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="row">
                        <div class=" col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                    </div><!--/row-->
                </div><!--/.col-xs-12.col-sm-9-->

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                    <div class="list-group">
                    <a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    </div>
                </div>
        </div><!--/row-->
    </div>
{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {% block extra_head %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/alerts.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/company.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/space.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/swot.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/swot2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/swot3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/swot4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
</body>
</html>