{% extends "base.html" %}

    {% block main_body %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            {% if comp %}
                <h1>Компания "{{ comp.name }}"</h1>
            {% else %}
                <h1>Создать компанию</h1>
            {% endif %}
            <div class="col-lg-12 white_body" id="company_settings_wrapper">
                <h2>Настройки</h2>
                <form method="POST" action="{% url "company_save" %}" class="form-horizontal" role="form" id="company_form">
                  {% csrf_token %}
                  <input name="id" type="hidden" id="id" value="{{ comp.id }}"/>
                  <div class="control-group">
                    <label for="name" class="control-label">Название компании</label>
                    <div class="controls">
                      <input type="text" name="name" class="form-control" value="{{ comp.name }}"  id="name" placeholder="Название Компании">
                    </div>
                  </div>
                 <div class="control-group">
                    <label for="name" class="control-label">Описание компании</label>
                    <div class="controls">
                      <textarea name="description" class="form-control" id="name" placeholder="Описание Компании">{{ comp.description|default_if_none:"" }}</textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-default">Сохранить</button>
                    </div>
                  </div>
                </form>
                <div class="clearfix"></div>
            </div>
            {% if comp.id %}
            <p>
                <a href="{% url "analyze_type" "SWOT" 1 comp.id  %}" class="btn btn-primary">Начать новый SWOT анализ</a>
                <a href="{% url "analyze_type" "SPACE" 1 comp.id %}" class="btn btn-primary">Начать новый SPACE анализ</a>
            </p>
            {% endif %}
    {% if analysis %}
    <div class="col-lg-12 white_body">
        <h2>Проведенные анализы</h2>
        <table class="table table-condensed table-hover">
            <thead>
                <th>Создан</th>
                <th>Дата последнего исправления</th>
                <th>Тип анализа</th>
                <th>Просмотр/изменение</th>
            </thead>
            <tbody>
                {% for analyse in analysis %}
                    <tr>
                        <td>{{ analyse.create_date }}</td>
                        <td>{{ analyse.update_date }}</td>
                        <td>{{ analyse.type }}</td>
                        <td><a href="{% url "analyze" analyse.id %}">Перейти к анализу</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    </div>
    </div>

{% endblock %}