{% extends "base.html" %}

{% block main_body %}
    <div class="container without_sidebar">
        <h1>Созданные компании <a href="{% url "company" %}"><button class="btn btn-primary">Создать новую</button></a></h1>
        <div class="row row-offcanvas row-offcanvas-right companies_list">
            {% if not object_list %}
                <h3>У вас нет компаний для анализа.</h3>
            {% else %}
                {% for company in object_list %}
                    <div class="col-lg-12 wrapper">
                        <h3>
                            {{ company.name }}
                            <a class="btn btn-default" href="{{ company.get_absolute_url }}" role="button">Подробнее &raquo;</a>
                        </h3>
                        <p>{{ company.description }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}