{% extends "base.html" %}

{% block main_body %}
<form class="form-signin" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Авторизация</h2>
    <label for="inputEmail" class="sr-only">Имя пользователя</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Имя пользовалетя" autofocus
            name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:"" }}">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required
            name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:"" }}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    <a href="{% url "register" %}" id="login_to_register_link">
        Зарегистрироваться
    </a>
</form>
{% endblock %}