{% extends "base.html" %}

{% block main_body %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">
                    <div class="row">
                        <div class=" col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Конкурентное преимущество</a>
                        <a href="#" class="list-group-item">Финансовое положение</a>
                        <a href="#" class="list-group-item">Привлекательность отрасли</a>
                        <a href="#" class="list-group-item">Стабильность внешней среды</a>
                        <a href="#" class="list-group-item">Отчет</a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}